body {
  background-color: #ffffff;
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
}
p{
  color: #000000;
  font-family: "Verdana",sans-serif;
  font-size: 1 em;
  font-weight: 300;



  ;
}
p.boldText {
  font-weight: normal;
  color: #000000;
  font-family: "optima",serif;
  font-size: 1.35em;
  font-weight: 300;
  max-width: 900px;
}
p#italicsText {
  font-style: italic;
}
